* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  padding: 60px;
}

input {
  width: 100%;
  font-size: 1.2rem;
  color: grey;
}

.card {
  text-align: center;
  border: 1px solid grey;
  overflow: hidden;
  margin: 10px 0px;
  
}

.card p {
  text-align: center;
  font-size: 16px;
}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

img {
  width: 100%;
}
