* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  padding: 60px;
}

input {
  width: 100%;
  font-size: 1.2rem;
  color: grey;
}

.card {
  align-content: center;
  border: 1px solid grey;
  overflow: hidden;
  margin: 10px 0px;
  width: auto;
}

img{
  width: 50%;
}